authentik_url                    = "https://authentik.example.com"
traefik_dashboard_external_host   = "https://traefik.example.com"
longhorn_external_host            = "https://longhorn.example.com"
proxmox_external_host             = "https://proxmox.example.com"
webwizard_external_host           = "https://webwizard.example.com"
seaweedfs_external_host           = "https://seaweedfs.example.com"
seaweedfs_admin_external_host     = "https://seaweedfs-admin.example.com"
