authentik_url                    = "https://authentik.example.com"
traefik_dashboard_external_host   = "https://traefik.example.com"
longhorn_external_host            = "https://longhorn.example.com"
