hcloud_token = "get-via-console.hetzner.com"

ssh_public_key = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAI..."

server_name = "wiredoor"
server_type = "cax11"
image       = "debian-13"
location    = "fsn1"

wiredoor_fqdn           = "wiredoor.example.com"
wiredoor_admin_email    = "admin@example.com"
wiredoor_admin_password = "replace-me"

wiredoor_vpn_port               = 51820
wiredoor_tcp_service_port_range = "32760-32767"

allowed_ssh_cidrs = [
  "0.0.0.0/32"
]
